name: react-ci

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          cd react-devops-pipeline
          docker build -t naveen/react -f Dockerfile.dev .
          docker run -e CI=true naveen/react npm run test
